body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  header {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 20px; /* Adjusted padding */
    display: flex; /* Added flexbox layout */
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
  }
  #backButton {
    text-decoration: none;
    color: #050505; /* Text color */
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #fbf8f8; /* Choose a slightly darker color for the button */
}

  section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #4CAF50;
  }
  
  form {
    max-width: 600px;
    margin: auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px; /* Adjusted padding */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  