body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: url('healthhublogo.png.jpg') no-repeat center center fixed;
    background-size: contain;
    position: relative;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 999;
}

.back-button a {
    display: inline-block;
    padding: 10px;
    background-color: #39923c;
    color: #fbf7f7;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.back-button a:hover {
    background-color: #1d5533;
}

.login-container {
    position: relative;
    background-color: rgba(166, 195, 140, 0.8);
    padding: 50px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    margin-bottom: 150px;
    height: auto;
    z-index: 1;
}

h1 {
    color: #050505;
    font-weight: bolder;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    font-size: 20px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #38a93c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
}

.options {
    margin-top: 20px;
}

.login-link {
    cursor: pointer;
    color: #020202;
    font-size: 16px;
    font-weight: bold;
}

.error-message {
    margin-top: 20px;
    text-align: center;
    color: red;
    font-weight: bold;
}
