/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header styles */
header {
  background-color: #0a064e;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-button {
  margin-right: 10px;
}

h1 {
  color: #fff;
  font-size: 2rem;
  margin: 0;
}
#backButton {
  text-decoration: none;
  color: #050505; /* Text color */
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fbf8f8; /* Choose a slightly darker color for the button */
}
  form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #0a064e;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type="submit"]:hover {
    background-color: #0a064e;
  }
  